/**
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */
[data-move-toolbar-right=true] {
    .editor-block-contextual-toolbar .editor-block-toolbar {
		border-left: none; // yikes.
        justify-content: flex-end;
    }
}

 .wp-block-swrdlyts-tile {
 	> div.imageBox {
 		.editor-media-placeholder.wp-block-swrdlyts-tile {
			
		}
		&,
 		&[data-hasimg=true] {
 			&:after {
 				background: rgba(0,0,0,0);
 				content: "";
 				display: block;
 				height: 100%;
 				left:0;
 				position: absolute;
 				top:0;
 				transition: 0.5s all ease;
 				width: 100%;
 				z-index:1;
 			} // "edit image"
 		}
 		&[hasimg=false] { // "select"

 		}
 	}
 }
