/**
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */
[data-move-toolbar-right=true] {
    .editor-block-contextual-toolbar .editor-block-toolbar {
		border-left: none; // yikes.
        justify-content: flex-end;
    }
}

 .wp-block-swrdlyts-tile {
 	> div.imageBox {
 		&[data-hasimg=false]:before {
			display: none !important; // "select"
			padding: 0 !important;
 		}
 	}
	.editor-media-placeholder.wp-block-swrdlyts-tile {
		padding-bottom: 100px;
		padding-top: 100px;
	}
 }
