/**
 * CSS for both Frontend+Backend.
 */
.wp-block-swrdlyts-tile {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-gap: 0;
	//justify-items: center;
	//align-items: center;
	box-sizing: border-box;
	> div {
		//padding: 20px;
	}
	> div.imageBox {
		background-color: #eee;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		text-align: center;
		position: relative;
		* { z-index: 2;}
	}
	> div.textBox {
		margin: 200px 0;
		.textBoxContent {
			width: 90%;
			max-width: 400px;
			margin-left: auto;
			margin-right: auto;
		}
	}
	// the ol switcher'o
	&[data-invert=true] {
		> div.imageBox {
			grid-column-start: 2;
			grid-row-start: 1;
		}
		> div.textBox {
			grid-column-start: 1;
			grid-row-start: 1;
		}
	}
}

@media screen and (max-width: 800px) {
	//
	// @TODO mobile
	//
}
