/**
 * CSS for both Frontend+Backend.
 */
.wp-block-swrdlyts-tile,
.wp-block-swrdlyts-tile.alignfull {
	display: flex;
	margin: 0 auto !important;
	max-width: 100% !important;
	width: 100% !important;
	> div {
		flex:1;
	}
	> .imageBox {
		background-color: #eee;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		position: relative;
		text-align: center;
		* { z-index: 2; }
		&:before {
			content: "";
			display: block;
			left: 0;
			padding-bottom: 100%; // Makes the element no smaller than a square.
			top: 0;
			z-index: 1;
		}
	}
	> .textBox {
		align-self: center;
		margin: 0 auto;
		.textBoxContent {
			margin-left: auto;
			margin-right: auto;
			//max-width: 400px;
			width: 70%; // @TODO this should be dynamic, a ui slider.
		}
		p {
			color: inherit !important;
		}
	}
}

@media screen and (min-width: 800px) {
	.wp-block-swrdlyts-tile {
		// the ol switcher'o
		&[data-invert=true] {
			flex-direction: row-reverse;
		}
	}
}

@media screen and (max-width: 800px) {
	.wp-block-swrdlyts-tile {
		flex-direction: column;
		> div.imageBox {
			
		}
	}
}

@media screen and (max-width: 500px) {
	.wp-block-swrdlyts-tile {
		> div.imageBox {
			
		}
		> div.textBox {
			margin: 10vh 0;
			.textBoxContent {
				width: 80%;
			}
		}
	}
}
